[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipython = "*"


[packages]

setuptools = "*"
distribute = "*"
python-dotenv = "*"
google-cloud-storage = "*"
datapackage-pipelines = {extras = ["develop", "speedup"], git = "https://github.com/frictionlessdata/datapackage-pipelines.git", ref = "e293604be05f89ed7a28d62f2a59e006497ccde7"}
"psycopg2" = "*"
datapackage-pipelines-elasticsearch = "*"


[requires]

python_version = "3.6"
